Carolina Analytics and Data Science @ UNC<br>Introduction to Python for Data Science Series

# Video 9 - Introduction to Pandas

## What are Packages?

In [ ]:
# Packages contain code and functions written by other people
# Allows us to do really powerful things

# 1. Install package

#2. Importing package

import package as pkg

pkg.function()

## Installing Pandas

In [2]:
!pip3 install pandas

Requirement already satisfied: pandas in /Users/ajaygandecha/opt/anaconda3/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/ajaygandecha/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/ajaygandecha/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/ajaygandecha/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /Users/ajaygandecha/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

## Importing Pandas

In [3]:
import pandas as pd

## Introduction to DataFrames

In [5]:
# DataFrame - Table object in the Pandas package

data = {
    "Brand": ["Logitech", "Logitech", "Apple"],
    "Model": ["MX Keys", "G915 TKL", "Magic Keyboard"],
    "TKL": [False, True, True]
}

df = pd.DataFrame(data)
df

      Brand           Model    TKL
0  Logitech         MX Keys  False
1  Logitech        G915 TKL   True
2     Apple  Magic Keyboard   True

## Importing Data

In [6]:
# csv - comma-separated values

airport_df = pd.read_csv("Airports.csv")

In [9]:
airport_df.head()

,Rank,Airport,Location,Country,Code,Passengers,Year
0,1,China Guangzhou Baiyun International Airport,"Baiyun-Huadu, Guangzhou, Guangdong",China,CAN/ZGGG,43760427,2020
1,2,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,42918685,2020
2,3,China Chengdu Shuangliu International Airport,"Shuangliu-Wuhou, Chengdu, Sichuan",China,CTU/ZUUU,40741509,2020
3,4,United States Dallas/Fort Worth International ...,"Dallas-Fort Worth, Texas",United States,DFW/KDFW,39364990,2020
4,5,China Shenzhen Bao'an International Airport,"Bao'an, Shenzhen, Guangdong",China,SZX/ZGSZ,37916059,2020

In [10]:
airport_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        250 non-null    int64
 1   Airport     250 non-null    object
 2   Location    250 non-null    object
 3   Country     250 non-null    object
 4   Code        250 non-null    object
 5   Passengers  250 non-null    int64
 6   Year        250 non-null    int64
dtypes: int64(3), object(4)
memory usage: 13.8+ KB